@page
@model Postie.FrontEnd.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "Shared/_Layout";
}

<div class="post-form">
    <div class="post-text">
        Login to see your posts!
    </div>
    <form action="#" class="custom-form">
        <div class="form-row">
            <div class="input-data">
                <input type="text" id="name" name="name" required>
                <div class="underline"></div>
                <label for="">Name</label>
            </div>
            <div class="input-data">
                <input type="email" id="email" name="email" required>
                <div class="underline"></div>
                <label for="">Email Address</label>
            </div>
        </div>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Login">
                </div>
            </div>
    </form>

</div>

<div class="list-group">
    <span class="list-group-item list-group-item-action flex-column align-items-start list-item-custom">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Name</h5>
            <h5 class="mb-1">Title</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Some content.</p>
    </span>

    <button class="noselect"><span class="text">Delete post</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
</div>